<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuarto Set</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
      </svg>
      <a class="navbar-brand fs-3 px-5" href="#"><span class="text-warning ">Cuarto</span>Set</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          <a class="nav-link" href="reservation.html">Reservas</a>
          <a class="nav-link" href="shop.html">Tienda</a>
          <a class="nav-link" href="about.html">Quiénes Somos</a>
          <a class="nav-link" href="faqs.html">Preguntas Frecuentes</a>
          <a class="nav-link" href="../index.html">Cerrar Sesión</a>
        </div>
      </div>       
    </div>
  </nav>

  <main>
    <section class="p-3 mt-5">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col-md-7 p-4 d-flex flex-column justify-content-center">
          <h2 class="display-4 lead text-center">ADIPOWER LIGHT 3.3</h2>
          <p class="text-secondary lead">La ADIPOWER LIGHT 3.3 es una paleta de altos vuelos con el factor diferencial de su ligereza. La paleta que empuña la jugadora adidas Mafalda Fernandes es la mejor aliada para alcanzar el mejor manejo. Cuenta con tecnologías específicas que incrementan la rigidez de la paleta y la dotan de una capacidad de potencia en el golpeo sorprendente. Son el Dual Exoskeleton y el Power Embossed Ridge, que refuerzan la estructura. La rugosidad Spin Blade Mold en la superficie añade una capacidad de generar efectos incomparable. En cuanto a materiales, la paleta destaca por la eficiente combinación de goma EVA Soft Performance y la fibra Alutex, un compuesto a base de vidrio que cuenta con un tratamiento aluminizado para mejorar potencia, confort y durabilidad.</p>
          <span class="d-flex justify-content-end"><a class="btn btn-warning" href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir al carrito</a></span>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Excelente elección!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  El producto se ha añadido a tu carrito de compras. <br>
                  Continúa navegando por nuestra tienda o dirígete al carrito para finalizar tu compra.  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-5 px-4">
          <img src="img/paleta2.jpg" class="img-fluid" alt="">
        </div>
      </div>   
    </section>
  </main>
  
  <footer class="bg-warning bg-opacity-75 p-3">
    <p class="text-center lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facere ipsum provident voluptatibus illo, maxime esse aperiam quaerat quis exercitationem, quas laboriosam autem reiciendis eveniet fugiat, repellat molestiae. Repudiandae, iusto.</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>
</html>